# Challenge 3 Add direction layer to draw route to four cities

In [1]:
import pandas as pd
import requests 
import gmaps

from config import g_key

In [2]:
gmaps.configure(api_key=g_key)

In [3]:
vacation_df = pd.read_csv("Data/WeatherPy_Vacation.csv")

In [4]:
vacation_df.head(2)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,ilebo,CD,67.89,-4.32,20.58,Hôtel des palmes
1,1,makakilo city,US,82.40,21.35,-158.09,Marriott's Ko Olina Beach Club

In [5]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat","Lng"]]

In [6]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_start = vacation_df.loc[vacation_df["City"] == "fortuna"]
vacation_end = vacation_df.loc[vacation_df["City"] == "pacific grove"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "ukiah"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "half moon bay"]

In [9]:
start = vacation_start["Lat"].values[0],vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0],vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0],vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0],vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(40.6, -124.16)
(36.62, -121.92)
(39.15, -123.21)
(37.46, -122.43)

In [26]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2])
itinerary_df.head(2)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
228,356,fortuna,US,61.0,40.60,-124.16,Super 8 by Wyndham Fortuna
93,141,pacific grove,US,60.8,36.62,-121.92,Lovers Point Inn

In [16]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,356,fortuna,US,61.00,40.60,-124.16,Super 8 by Wyndham Fortuna
1,141,pacific grove,US,60.80,36.62,-121.92,Lovers Point Inn
2,82,ukiah,US,93.20,39.15,-123.21,Hampton Inn Ukiah
3,318,half moon bay,US,69.01,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = itinerary_df[["Lat","Lng"]]

In [25]:
locations = vacation_df[["Lat","Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))